<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.ebnbin.ebui">
    <application
        android:icon="@mipmap/ebui_icon"
        android:roundIcon="@mipmap/ebui_icon">
        <activity
            android:name=".FragmentWrapperActivity"/>
        <provider
            android:name=".EBUIInitializer"
            android:authorities="${applicationId}.EBUIInitializer"
            android:exported="false"/>
    </application>
</manifest>
